<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    {% if messages %}
      {% for message in messages %}
        <div style="color: green;">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <form action='' method='post'> 
       {% csrf_token %}
       <h1>Login Page</h1>
       <label> Email:</label><input type= 'text' name ='email'><br>
       <label>Password: </label><input type='text' name ='password'><br>
       <input type ='submit' value='Submit'>


    </form>
</body>
</html>